<% set_meta_tags :site => 'Employees • Milo',
  :noindex => true
%>

<div class="page-content">
  <div class="container">
    <h1>Employees</h1>
    <%= link_to "Add Employee", new_user_invitation_path %>
    <% @employees.each do |e| %>
      <%= e.email %><br/>
    <% end %>
  </div>
</div>
