<% set_meta_tags :site => 'Confirm Phone • Milo',
  :noindex => true
%>

<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <div class="signup">
      <h1 class="marg-16"><span>Mobile Number</span> Confirm Number</h1>
      <p>Please submit the 6-digit code we just sent to:<br/><strong><%= @user.mobile_number %></strong></p>
      <%= form_tag(verifications_path, method: "patch") %>
        <fieldset class="form-group">
          <label>Confirmation Code</label>
          <%= text_field_tag('verification_code', "", class: "form-control") %>
        </fieldset>
        <button type="submit" class="button -full -blue">Continue</button>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <ul class="signup-steps">
      <li><span></span> Basic Info</li>
      <li class="active"><span></span> Mobile Number</li>
      <li><span></span> Checking Account</li>
    </ul>
  </div>
</div>
