<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Milo, <%= @user.name %></h1>
    <p>
      You have successfully signed up to milosavings.com,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      Start saving by logging in and connecting any spending account. It's that easy! Just follow this link: <%= @url %> to get started.
    </p>
    <p>
      Help your friends and family start saving by sharing your referral link <%= @referral_link %>.
    </p>
    <p>Happy Savings!</p>
    <p>
      - The Milo Team
    </p>
  </body>
</html>
