/*
* Milo
* Copyright Milo 2016
* milosavings.com
*/


// Buttons
.button, a.button {
  background: inherit;
  border: 2px solid #BBC5C7;
  border-radius: 4px;
  box-sizing: border-box;
  color: #BBC5C7;
  display: block;
  font-family: 'Futura Bold';
  font-size: 1.125em;
  height: 50px;
  line-height: 46px;
  padding: 0 24px;
  text-align: center;

  @include breakpoint(l-one) {
    width: 100%;
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }

  &:hover {
    background: #BBC5C7;
    color: #FFF;
    text-decoration: none;
  }

  // Button Size
  &.-full {
    padding: 0;
    width: 100%;
  }

  &.-large {
    font-size: 1.5em;
    line-height: 76px;
    height: 80px;
    padding: 0 40px;
    text-transform: initial;

    @include breakpoint(l-three) {
      font-size: 1.25em;
      height: 56px;
      line-height: 52px;
    }

    @include breakpoint(l-one) {
      font-size: 1.125em;
      height: 50px;
      line-height: 46px;
    }
  }

  &.-small {
    font-size: 0.875em;
    height: 36px;
    line-height: 32px;
    padding: 0 16px;
  }

  // Button Position
  &.-inline {
    display: inline-block;
  }

  &.-right {
    float: right;
  }

  // Button Colors
  &.-blue {
    border: 2px solid #4A90E2;
    color: #4A90E2;

    &:hover {
      background: #4A90E2;
      color: #FFF;
    }
  }

  &.-green {
    border: 2px solid #1ABD7D;
    color: #1ABD7D;

    &:hover {
      background: #1ABD7D;
      color: #FFF;
    }
  }

  &.-purple {
    border: 2px solid #292242;
    color: #292242;

    &:hover {
      background: #292242;
      color: #FFF;
    }
  }

  &.-red {
    border: 2px solid #FF5455;
    color: #FF5455;

    &:hover {
      background: #FF5455;
      color: #FFF;
    }
  }
}

a.button {
  display: inline-block;
}


// Social Buttons
a.ssb {
  background: #DDD;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFF;
  display: block;
  font-size: 1.4em;
  height: 56px;
  line-height: 56px;
  margin: 0 0 12px;
  padding: 0 24px;
  text-align: left;
  width: 100%;

  @include breakpoint(l-three) {
    margin: 0 0 8px;
  }

  &:hover, &:focus {
    text-decoration: none;
  }

  .fa {
    display: inline-block;
    margin: 0 16px 0 0;
  }

  &.ssb-twitter {
    background: #00ACED;

    &:hover {
      background: #018FBD;
    }
  }

  &.ssb-facebook {
    background: #3B5998;

    &:hover {
      background: #334B79;
    }
  }

  &.ssb-linkedin {
    background: #007BB6;
    margin: 0;

    &:hover {
      background: #00648E;
    }
  }
}
