/*
* Shift
* Copyright Shift 2017
* shiftsavings.com
*/


// Cards
.milo-card {
  background: #FFF;
  border: 1px solid #DDE1E2;
  border-bottom-width: 2px;
  border-radius: 0;
  margin: 0 0 20px;
  padding: 24px;

  @include breakpoint(l-three) {
    margin: 0 0 16px;
  }

  .mc-title {
    border-bottom: 1px solid #DDE1E2;
    box-sizing: border-box;
    color: #352D52;
    font-family: 'Brandon Black';
    font-size: 1.25em;
    height: auto;
    line-height: 1.2;
    margin: 0 0 24px;
    padding: 0 0 7px;
    text-transform: uppercase;

    a.title-link, .title-link {
      color: #4A90E2;
      cursor: pointer;
      display: inline-block;
      float: right;
      font-size: 0.7em;
      line-height: 20px;
      text-align: right;

      &:hover {
        text-decoration: none;
      }

      &.-withdraw {
        color: #BBC5C7;
        margin: 0 0 0 24px;
      }

      i.fa {
        margin: 0 8px 0 0;
      }
    }

    span {
      color: #8B999F;
      float: right;
      font-family: 'Futura Bold';
      font-size: 0.56em;
      line-height: 28px;

      em {
        color: #1ABD7D;
        font-style: normal;
      }

      i.fa {
        margin: 0 0 0 4px;
      }
    }
  }

  p:last-child {
    margin: 0;
  }
}

// Progress
.milo-card.progress {
  height: auto;
  .progress-bar {
    background: #F8FAFB;
    border: 1px solid #E5E8E9;
    border-radius: 4px;
    height: 40px;
    position: relative;
    z-index: 1;
    @extend %clear;
    .current-progress {
      background: #2BC38A;
      border: 1px solid #2B906C;
      border-radius: 4px;
      height: 40px;
      left: -1px;
      position: absolute;
      top: -1px;
      z-index: 2;
      max-width: 100%;
    }
    .bar {
      background: rgba(0,0,0,0.12);
      height: 38px;
      position: absolute;
      top: 0;
      width: 1px;
      z-index: 3;
      &.one { left: 12.5%; }
      &.two { left: 25%; }
      &.three { left: 37.5%; }
      &.four { left: 50%; }
      &.five { left: 62.5%; }
      &.six { left: 75%; }
      &.seven { left: 87.5%; }
    }
  }
}

// Value
.milo-card.account-balance {
  .av-total {
    color: #352D52;
    font-family: 'Brandon Black';
    font-size: 3em;
    line-height: 1;
  }
}

// History Snapshot
.milo-card.history {
  min-height: 312px;

  .mc-title {
    margin: 0 0 8px;
  }

  .recent-transfer-item {
    border-bottom: 1px solid #F1F3F6;
    height: 53px;
    padding: 14px 8px;
    @extend %clear;

    .rti-amount {
      color: #1ABD7D;
      float: left;
      font-family: 'Brandon Black';
      font-size: 1.25em;
      line-height: 24px;
      width: calc(100% - 80px);
    }

    .rti-info {
      color: #8B999F;
      float: right;
      text-align: right;
      text-transform: uppercase;
      width: 80px;

      .rti-type {
        font-family: 'Brandon Black';
        font-size: 0.64em;
        line-height: 12px;
      }

      .rti-date {
        font-family: 'Brandon';
        font-size: 0.56em;
        line-height: 12px;
      }
    }
  }
}

// Savings
.milo-card.quick-save, .milo-card.recurring {
  min-height: 312px;

  .amount {
    background: #F5F7FA;
    border: 1px solid #DDE1E2;
    border-radius: 4px;
    color: #292242;
    font-family: 'Brandon Black';
    font-size: 2.5em;
    line-height: 1;
    margin: 0 0 16px;
    padding: 48px 0;
    text-align: center;

    &.-schedule {
      padding: 36px 0 0;
    }

    ul.ac-options {
      border-top: 1px solid #E5E8E9;
      list-style: none;
      margin: 33px 0 0;
      padding: 0;
      @extend %clear;
      li {
        border-right: 1px solid #E5E8E9;
        color: #96A3A8;
        cursor: pointer;
        float: left;
        font-size: 0.44em;
        font-weight: 600;
        height: 38px;
        line-height: 38px;
        text-align: center;
        text-transform: uppercase;
        width: 33.33%;
        &:last-child {
          border-right: 0;
        }
        &.active, &.active:hover {
          background: #FFF;
          color: #3B4357;
        }
        &:hover {
          background: #FAFAFA;
          color: #4C3E70;
        }
      }
    }
  }
}

// Round Up Stats
.round-up-stats {
  @extend %clear;

  .milo-card.round-up-stat {
    box-sizing: border-box;
    color: #352D52;
    float: left;
    font-family: 'Brandon Black';
    font-size: 3em;
    height: 160px;
    margin: 0 2.5% 20px 0;
    padding: 24px 0 0;
    text-align: center;
    width: 31.6666%;

    &:nth-child(3n) {
      margin: 0 0 20px;
    }

    span {
      color: #606B6F;
      display: block;
      font-family: 'Brandon';
      font-size: 0.292em;
      line-height: 32px;
    }
  }
}

// History
.milo-card.full-history {

  .mc-title.no-marg {
    margin: 0;
  }

  table.table {
    margin: 0;

    th {
      background: #F9FBFB;
      border-top: 0;
      color: #3B4357;
      font-family: 'Futura Bold';
      font-size: 0.8em;
      text-transform: uppercase;
    }
  }
}

// Growth Hack
.milo-card.growth-hack {
  padding: 40px;
  text-align: center;

  @include breakpoint(l-three) {
    padding: 20px 16px;
  }

  h4 {
    margin: 0 0 16px;
  }

  p {
    @include breakpoint(l-three) {
      font-size: 1em;
      margin: 0 0 16px;
    }
  }

  .gh-link {
    background: #F1F3F6;
    border-radius: 4px;
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 0 24px;
    padding: 16px 24px;

    @include breakpoint(l-three) {
      font-size: 1em;
    }
  }
}
