/*
* Milo
* Copyright Milo 2016
* milosavings.com
*/


// Forms
.form-group {
  margin: 0 0 16px;

  label {
    color: #BBC5C7;
    font-family: 'Brandon Black';
    font-size: 0.688em;
    margin: 0 0 4px;
    text-transform: uppercase;
  }

  input.form-control {
    border: 1px solid #DDE1E2;
    padding: 12px 16px;
  }

  small {
    color: #BBC5C7;
    font-size: 100%;
    line-height: 2.4;
  }
}

// Checkboxes
.checkbox {
  margin: 0 0 32px;

  label {
    font-size: 0.875em;
    line-height: 1.6;
  }
}

.form-section {
  margin: 0 0 24px;

  fieldset.form-group {
    text-align: left;
  }
}
