/*
* Shift
* Copyright Shift 2017
* shiftsavings.com
*/


// Modals
.modal-open .modal {
  background: rgba(41,34,66,0.8);
}

.modal-content {
  border: 0;
  border-radius: 0;
  box-shadow: 0 4px 12px 0 #292242;
}

.modal-header {
  background: #292242;
  border-bottom: 0;
  padding: 12px 16px;

  button.close {
    color: rgba(0,0,0,0.24);
    text-shadow: initial;
    opacity: 1;

    &:focus, &:hover {
      outline: none;
    }

    i.fa-close {
      font-size: 0.688em;
      line-height: 24px;
    }
  }

  .modal-title {
    color: #FFF;
    font-size: 1.25em;
    line-height: 1.2;
  }
}

.modal-body {
  padding: 32px;
}

.modal-footer {
  background: #F5F7FA;
  border-top: 0;
  bottom: 0;
  padding: 16px;
  position: absolute;
  width: 100%;
}

// Plaid Link Button
#plaid-link-button {
  border: 10px solid pink;
}
