/*
* Milo
* Copyright Milo 2016
* milosavings.com
*/


// Spacers
.spacer {
  width: 100%;

  &.-space-8 {
    height: 8px;
  }

  &.-space-16 {
    height: 16px;
  }

  &.-space-24 {
    height: 24px;
  }

  &.-space-32 {
    height: 32px;
  }
}
