/*
* Shift
* Copyright Shift 2017
* shiftsavings.com
*/


body.milo-app {
  background: #F5F7FA;

  .container-fluid {
    padding-right: 1.6em;
    padding-left: 1.6em;
  }

  .page-content {
    padding: 48px 0;
  }

  header {
    background: #FFF;
    border-bottom: 1px solid #F1F3F6;
    height: 73px;
    padding: 16px 0;

    @include breakpoint(l-three) {
      height: 56px;
      padding: 8px 0.9375rem;
      width: 100%;
    }

    a.logo {
      color: #352D52;
      display: block;
      float: left;
      font-family: 'Brandon Black';
      font-size: 2.5em;
      letter-spacing: -1px;
      line-height: 1;
      margin: 0 48px 0 0;

      @include breakpoint(l-three) {
        display: block;
        float: left;
        font-size: 1.625em;
        line-height: 40px;
        margin: 0;
        text-align: left;
        width: auto;
      }

      &:focus, &:hover {
        text-decoration: none;
      }
    }
  }
}

// Subheader
.subheader {
  background: #FFF;
  border-bottom: 1px solid #DDE1E2;
  height: 61px;
  padding: 18px 0;
  @extend %clear;

  .subheader-savings-total {
    color: #352D52;
    float: right;
    font-family: 'Brandon Black';
    font-size: 1.5em;
    line-height: 24px;
  }

  .subheader-debt-total {
    color: #FF5455;
    float: right;
    font-family: 'Brandon Black';
    font-size: 1.5em;
    line-height: 24px;
  }
}

// Intercom
#intercom-container iframe.intercom-launcher-frame {

  @include breakpoint(l-three) {
    bottom: 80px !important;
  }
}
