/*
* Milo
* Copyright Milo 2016
* milosavings.com
*/


body.milo-app {
  background: #FFF;

  header {
    background: #292242;
    left: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 240px;
    z-index: 900;

    @include breakpoint(l-three) {
      height: 56px;
      padding: 8px 0.9375rem;
      width: 100%;
    }

    a.logo {
      color: #FFF;
      display: block;
      font-family: 'Brandon Black';
      font-size: 2em;
      margin: 16px 0 24px;
      text-align: center;

      @include breakpoint(l-three) {
        display: block;
        float: left;
        font-size: 1.625em;
        line-height: 40px;
        margin: 0;
        text-align: left;
        width: auto;
      }

      &:focus, &:hover {
        text-decoration: none;
      }
    }

    .milo-user {
      margin: 0 0 40px;
      text-align: center;

      @include breakpoint(l-three) {
        display: none;
        visibility: hidden;
      }

      .mu-img {
        background: #352D52;
        border-radius: 60px;
        height: 120px;
        margin: 0 auto 16px auto;
        overflow: hidden;
        width: 120px;

        a.add-avatar {
          box-sizing: content-box;
          display: block;
          height: 42px;
          padding: 39px 36px;
          width: 48px;
        }

        img {
          height: auto;
          max-width: 100%;
        }
      }

      h5 {
        color: #FFF;
        font-size: 1.5em;
        line-height: 1.4;
        margin: 0;
      }

      span {
        color: #4C3E70;
        font-family: 'Futura Bold';
        font-size: 0.875em;
        text-transform: uppercase;
      }
    }

    nav {
      padding: 0 20px;
      @extend %clear;

      @include breakpoint(l-three) {
        background: #F8FAFB;
        border-top: 1px solid #F1F3F6;
        bottom: 0;
        height: 60px;
        left: 0;
        padding: 0;
        position: fixed;
        right: 0;
      }

      a {
        color: #F1F3F6;
        display: block;
        font-size: 1.125em;
        line-height: 1;
        margin: 0 0 16px 0;

        &:hover, &:focus {
          color: #4C3E70;
          text-decoration: none;
        }

        &.active {
          color: #FFF;
          text-decoration: none;
        }

        span {
          background: #3E445C;
          border-radius: 4px;
          color: #F7F9FA;
          display: block;
          float: right;
          font-family: 'Futura Bold';
          font-size: 0.75em;
          height: 20px;
          line-height: 20px;
          text-align: center;
          width: 30px;

          @include breakpoint(l-three) {
            display: none;
            visibility: hidden;
          }
        }

        i.fa {
          display: none;
          visibility: hidden;
        }

        @include breakpoint(l-three) {
          color: #BBC5C7;
          float: left;
          font-family: 'Futura Bold';
          font-size: 0.6em;
          height: 59px;
          margin: 0;
          padding: 12px 0 0;
          text-align: center;
          text-transform: uppercase;
          width: 25%;

          &:hover, &.active {
            color: #4C3E70;
            border-bottom: 3px solid #352D52;
          }

          i.fa {
            display: block;
            font-size: 2em;
            margin: 0 0 6px;
            visibility: visible;
          }
        }
      }
    }

    a.sign-out {
      background: #352D52;
      bottom: 0;
      color: #FFF;
      font-family: 'Futura Bold';
      font-size: 0.9em;
      height: 50px;
      left: 0;
      line-height: 50px;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      width: 100%;

      @include breakpoint(l-three) {
        background: none;
        float: right;
        font-size: 0.75em;
        height: 20px;
        line-height: 20px;
        margin: 10px 0;
        position: relative;
        width: auto;
      }

      &:focus, &:hover {
        background: #4C3E70;
        text-decoration: none;

        @include breakpoint(l-three) {
          background: none;
        }
      }
    }
  }

  .page-content {
    box-sizing: border-box;
    margin: 0 0 0 240px;
    min-height: 100vh;
    padding: 48px 32px 32px;
    width: calc(100% - 420px);

    @include breakpoint(l-three) {
      margin: 0;
      padding: 76px 16px 84px;
      width: 100%;
    }

    .container {
      padding: 0;
    }
  }

  .sidebar {
    background: #F8FAFB;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 48px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 180px;

    @include breakpoint(l-three) {
      display: none;
      visibility: hidden;
    }
  }

  p {
    font-size: 1em;
    margin: 0 0 24px;
  }
}

// Intercom
#intercom-container iframe.intercom-launcher-frame {

  @include breakpoint(l-three) {
    bottom: 80px !important;
  }
}
