/*
* Milo
* Copyright Milo 2016
* milosavings.com
*/


header.head-market {
  background-image: radial-gradient(circle farthest-side at bottom right, #4C3E70, #352D52);
  position: relative;
  min-height: 640px;
}

.milo-pattern {
  //background-image: url('/assets/milo-pattern.png');
  background-repeat: repeat;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

section.hero.-home {
  padding: 96px 0 160px;
  text-align: center;

  h1 {
    color: #FFF;
  }

  p {
    color: #FFF;
    font-size: 1.5em;
    margin: 0 0 48px;
  }
}

section.section-roundups, section.section-progress {
  min-height: 520px;
  padding: 64px 0 80px;
  position: relative;

  img.round-ups-image, img.progress-image {
    height: auto;
    left: -160px;
    position: absolute;
    top: -80px;
    width: 700px;
  }

  img.progress-image {
    left: initial;
    right: -160px;
  }

  p {
    margin: 0 0 40px;
  }
}

section.section-goals {
  background-image: radial-gradient(circle farthest-side at bottom right, #4C3E70, #352D52);
  padding: 80px 0 120px;
  text-align: center;

  h2 {
    color: #FFF;
    margin: 0 0 32px;
  }

  .goal-icons {
    margin: 0 0 32px;
    @extend %clear;

    img {
      margin: 0 64px 0 0;
      vertical-align: middle;
      width: 80px;

      &.gi-large {
        width: 104px;
      }
    }
  }

  p {
    color: #FFF;
    margin: 0 0 64px;
  }
}

section.section-manage {
  padding: 120px 0 0;
  text-align: center;

  p {
    margin: 0 0 80px;
  }
}
