/*
* Milo
* Copyright Milo 2016
* milosavings.com
*/


body.milo-market {
  background: #FFF;
  overflow: hidden;
  overflow-y: scroll;
}

.container-fluid {
  padding-right: 4rem;
  padding-left: 4rem;

  @include breakpoint(l-three) {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

// Header Navigation
.hm-navbar {
  background: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  box-sizing: border-box;
  height: 80px;
  padding: 20px 16px;
  width: 100%;
  @extend %clear;

  a.logo-market {
    color: #FFF;
    float: left;
    font-family: 'Futura Bold';
    font-size: 2em;
    line-height: 40px;
    margin: 0 48px 0 0;
    text-decoration: none;
  }

  nav.hm-nav {
    float: left;
    @extend %clear;

    &.hm-nav-right {
      float: right;

      a {
        margin: 8px 0 8px 32px;
      }
    }

    a {
      color: #FFF;
      display: block;
      float: left;
      line-height: 24px;
      margin: 8px 32px 8px 0;
      text-decoration: none;

      &:hover, &:focus, &.active {
        color: #4A90E2;
      }
    }
  }
}

// Sections
section {

  @include breakpoint(l-three) {
    text-align: center;
  }

  &.feature {
    padding: 120px 0;

    @include breakpoint(l-three) {
      padding: 64px 0;
    }

    @include breakpoint(l-one) {
      padding: 32px 0;
    }
  }

  &.-center {
    text-align: center;
  }

  p {
    font-size: 1.5em;

    @include breakpoint(l-three) {
      font-size: 1.25em;
      margin: 0 0 32px;
    }

    @include breakpoint(l-one) {
      font-size: 1.125em;
      margin: 0 0 16px;
    }
  }

  &.-purple {
    background-image: radial-gradient(circle farthest-side at bottom right, #4C3E70, #352D52);

    h2, p {
      color: #FFF;
    }
  }
}

// Footer
footer {
  background: #FFF;
  border-top: 1px solid #DDE1E2;
  padding: 40px 0 40px;

  @include breakpoint(l-three) {
    padding: 32px 0 20px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  @include breakpoint(l-one) {
    padding: 16px 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    @extend %clear;

    li {
      box-sizing: border-box;
      float: left;
      padding: 0 6% 0 0;
      width: 33%;

      @include breakpoint(l-three) {
        float: none;
        padding: 0;
        width: 100%;
      }

      span {
        color: #292242;
        display: block;
        font-size: 1.25em;
        margin: 0 0 24px;

        @include breakpoint(l-three) {
          background: #FAFAFA;
          border-radius: 4px;
          margin: 8px 0 0;
          padding: 8px 16px;
        }

        &:hover, &:focus {
          color: #4C3E70;
          outline: none;
          text-decoration: none;
        }
      }
    }

    ul {
      @include breakpoint(l-three) {
        background: #FAFAFA;
        border-radius: 0 0 4px 4px;
        display: none;
        margin: -4px 0 0;
        padding: 0 0 8px;
      }
    }

    ul li {
      float: none;
      margin: 0 0 12px;
      padding: 0;
      width: auto;

      @include breakpoint(l-three) {
        margin: 0;

        &:last-child a {
          border-radius: 0 0 4px 4px;
        }
      }

      a {
        color: #8B999F;
        display: inline;
        font-size: 1em;
        margin: 0;

        @include breakpoint(l-three) {
          border-radius: 0;
          padding: 4px 16px;
        }

        &:hover, &:focus, &.active {
          color: #4A90E2;
          text-decoration: none;
        }
      }
    }
  }

  .footer-app {
    span {
      color: #292242;
      display: block;
      font-size: 1.25em;
      margin: 0 0 24px;

      @include breakpoint(l-one) {
        margin: 24px 0 8px;
      }
    }

    p strong {
      font-size: 0.875em;
    }

    img {
      display: inline-block;
      max-width: 140px;

      @include breakpoint(l-one) {
        max-width: 136px;
      }

      &.badge-app-store {
        margin: 0 12px 0 0;
      }
    }
  }
}

.bottom-bar {
  background: #FFF;
  border-top: 1px solid #DDE1E2;
  height: 60px;
  padding: 10px 0;

  @include breakpoint(l-three) {
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  @include breakpoint(l-one) {
    height: auto;
    padding: 16px 0;
    text-align: center;
  }

  .copyright {
    color: #8B999F;
    float: left;
    line-height: 40px;

    @include breakpoint(l-one) {
      font-size: 0.875em;
    }
  }

  nav.social-footer-nav {
    float: right;
    margin: 0 0 0 20px;
    padding: 8px 0;
    @include breakpoint(l-one) {
      margin: 0 0 8px;
      padding: 8px 0;
    }
    a {
      background: #BBC5C7;
      border-radius: 4px;
      color: #FFF;
      display: inline-block;
      font-size: 0.875em;
      height: 24px;
      line-height: 24px;
      margin: 0 4px 0 0;
      text-align: center;
      width: 24px;

      &:hover, &:focus {
        color: #FFF;
        text-decoration: none;
      }

      &.sfn-facebook:hover {
        background: #3B5998;
      }
      &.sfn-twitter:hover {
        background: #55ACEE;
      }
      &.sfn-instagram:hover {
        background: #517FA4;
      }
      &.sfn-angellist:hover {
        background: #222;
      }
    }
  }
  .footer-phone {
    color: #CCC;
    float: right;
    font-size: 0.875em;
    font-weight: 700;
    line-height: 40px;
    @include breakpoint(l-one) {
      float: none;
      line-height: 1.6;
    }
  }
}
