/*
* Shift
* Copyright Shift 2017
* shiftsavings.com
*/


// Savings


// History
h5.transfer-title {
  margin: 0 0 24px;
}

.transfer-header {
  @extend %clear;

  .th-date, .th-status, .th-amount {
    background: #F1F3F6;
    color: #606B6F;
    float: left;
    font-family: 'Brandon';
    font-size: 0.75em;
    height: 40px;
    line-height: 20px;
    padding: 10px 12px;
    text-transform: uppercase;
  }

  .th-date {
    margin: 0 4px 0 0;
    width: 120px;
  }

  .th-status {
    width: calc(100% - 248px);
  }

  .th-amount {
    margin: 0 0 0 4px;
    text-align: right;
    width: 120px;
  }
}

.transfer-month {
  border-bottom: 2px solid #DDE1E2;
  color: #8B999F;
  font-family: 'Brandon Black';
  font-size: 0.875em;
  line-height: 32px;
  margin: 16px 0 0 0;
  text-transform: uppercase;
}

.transfer-item {
  border-bottom: 1px dashed #DDE1E2;
  height: 48px;
  padding: 12px;
  @extend %clear;

  .ti-date {
    color: #352D52;
    float: left;
    font-family: 'Brandon';
    line-height: 24px;
    text-transform: uppercase;
    width: 120px;
  }

  .ti-status {
    color: #8B999F;
    float: left;
    font-family: 'Brandon';
    line-height: 24px;
    width: calc(100% - 240px);
  }

  .ti-amount {
    color: #1ABD7D;
    float: left;
    font-family: 'Brandon Black';
    line-height: 24px;
    text-align: right;
    width: 120px;

    &.-withdraw {
      color: #FF5455;
    }
  }
}
