/*
* Milo
* Copyright Milo 2016
* milosavings.com
*/


body.milo-signup {
  background: #F5F5F5;
  a.signup-logo {
    color: #352D52;
    display: block;
    font-family: 'Futura Bold';
    font-size: 2.625em;
    margin: 32px 0 56px;
    @include breakpoint(l-one) {
      margin: 20px auto;
      text-align: center;
    }
    &:hover {
      text-decoration: none;
    }
  }
  p.disclaimer {
    font-size: 0.8em;
    margin: 0 0 120px;
    padding: 0 24px;
    text-align: center;
    @include breakpoint(l-one) {
      margin: 0 0 32px;
      padding: 0;
    }
  }
  .signup {
    background: #FFF;
    margin: 0 0 24px;
    padding: 40px 40px 32px;
    @include breakpoint(l-one) {
      margin: 0 0 20px;
      padding: 16px 12px;
    }
    h1 {
      font-size: 2em;
      margin: 0 0 24px;
      text-align: center;

      @include breakpoint(l-one) {
        margin: 0 0 16px;
      }
      span {
        color: #BBC5C7;
        display: block;
        font-family: 'Futura Bold';
        font-size: 0.48em;
        margin: 0 0 8px;
      }
    }
    h3 {
      color: #6E7386;
      font-family: 'Futura Bold';
      font-size: 1.5em;
      line-height: 1;
      margin: 0 0 40px;
      text-align: center;
    }
    p {
      font-size: 1.25em;
      margin: 0 0 24px;
      padding: 0;
      text-align: center;
    }
    .top-banks {
      border: 1px solid #E1E5E6;
      border-radius: 4px;
      display: block;
      padding: 20px 0 0 20px;
      @extend %clear;
      .tb-item {
        background: #999;
        float: left;
        height: 48px;
        margin: 0 20px 20px 0;
        width: 48px;
      }
    }
  }
}

form.email-signup {
  margin: 24px 0 0;
  .button {
    margin: 0 0 24px;
  }
}

.social-signup {
  margin: 24px 0 0;
  a.btn-social {
    background: #666;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFF;
    display: block;
    font-size: 1.2em;
    height: 48px;
    line-height: 48px;
    margin: 0 0 8px;
    padding: 0 16px;
    width: 100%;
    &.-facebook {
      background: #3B5998;
      &:hover { background: #30497E; }
    }
    &.-twitter {
      background: #55ACEE;
      &:hover { background: #4690C8; }
    }
    &.-google {
      background: #4885ED;
      margin: 0 0 24px;
      &:hover { background: #3D73CD; }
    }
    &:hover, &:focus {
      text-decoration: none;
    }
    i.fa {
      margin: 0 12px 0 0;
      width: 16px;
    }
  }
}

ul.signup-steps {
  list-style: none;
  margin: 32px 0 0 24px;
  padding: 0;
  @include breakpoint(l-three) {
    display: none;
    visibility: hidden;
  }
  li {
    color: #96A3A8;
    height: 16px;
    line-height: 16px;
    margin: 0 0 20px;
    &.active {
      color: #6E7386;
      span { background: #6E7386; }
    }
    span {
      background: #E1E5E6;
      border-radius: 8px;
      display: inline-block;
      height: 16px;
      margin: 0 12px 0 0;
      vertical-align: top;
      width: 16px;
    }
  }
}
