/*
* Milo
* Copyright Milo 2016
* milosavings.com
*/


body.milo-signup {
  background: #FAFAFA;

  a.signup-logo {
    color: #352D52;
    display: block;
    font-family: 'Futura Bold';
    font-size: 2.625em;
    margin: 32px 0 56px;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    @include breakpoint(l-one) {
      margin: 16px auto;
      text-align: center;
    }
  }
}

// Sign Up Form
.signup {
  background: #FFF;
  margin: 0 0 24px;
  padding: 40px;

  @include breakpoint(l-one) {
    margin: 0 0 20px;
    padding: 24px 12px;
  }

  h1 {
    color: #292242;
    font-family: 'Futura Bold';
    font-size: 2em;
    margin: 0 0 40px;
    text-align: center;

    &.marg-16 {
      margin: 0 0 16px;
    }

    @include breakpoint(l-three) {
      font-size: 1.625em;
      margin: 0 0 16px;
    }

    span {
      color: #BBC5C7;
      display: block;
      font-family: 'Futura Bold';
      font-size: 0.48em;
      margin: 0 0 12px;
      text-transform: uppercase;
    }
  }

  p {
    font-size: 1em;
    margin: 0 0 24px;
    padding: 0;
    text-align: center;

    &.on-demand {
      text-align: left;
    }
  }

  form.new_checking {
    border-bottom: 1px solid #DDE1E2;
    padding: 16px;
    @extend %clear;

    span.checking-name {
      color: #292242;
      display: inline-block;
      font-family: 'Futura Bold';
      line-height: 1.2;
      vertical-align: middle;

      em {
        color: #8B999F;
        font-size: 0.75em;
        font-style: normal;
      }
    }
  }
}

.shared-links {
  margin: 0 0 64px;
  padding: 24px 0 0;
  text-align: center;

  a.shared-link {
    border-right: 1px solid #DDE1E2;
    color: #BBC5C7;
    display: inline-block;
    padding: 0 20px 0 12px;

    &:focus, &:hover {
      color: #4A90E2;
    }

    &.-first {
      padding-left: 0;
    }

    &.-last {
      border-right: 0;
      padding-right: 0;
    }
  }
}

form.email-signup {
  margin: 24px 0 0;

  .button {
    margin: 0 0 24px;
  }
}

.social-signup {
  margin: 24px 0 0;

  a.btn-social {
    background: #666;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFF;
    display: block;
    font-size: 1.2em;
    height: 48px;
    line-height: 48px;
    margin: 0 0 8px;
    padding: 0 16px;
    width: 100%;

    &.-facebook {
      background: #3B5998;

      &:hover { background: #30497E; }
    }

    &.-twitter {
      background: #55ACEE;

      &:hover { background: #4690C8; }
    }

    &.-google {
      background: #4885ED;
      margin: 0 0 24px;

      &:hover { background: #3D73CD; }
    }

    &:hover, &:focus {
      text-decoration: none;
    }

    i.fa {
      margin: 0 12px 0 0;
      width: 16px;
    }
  }
}

// Sign Up Steps
ul.signup-steps {
  list-style: none;
  margin: 32px 0 0 24px;
  padding: 0;

  @include breakpoint(l-three) {
    display: none;
    visibility: hidden;
  }

  li {
    color: #BBC5C7;
    height: 16px;
    line-height: 16px;
    margin: 0 0 20px;

    &.active {
      color: #4C3E70;

      span {
        background: #4C3E70;
      }
    }

    span {
      background: #DDE1E2;
      border-radius: 8px;
      display: inline-block;
      height: 16px;
      margin: 0 12px 0 0;
      vertical-align: top;
      width: 16px;
    }
  }
}

// Plaid Link Button
#plaid-link-button {
  background: inherit;
  border: 2px solid #4A90E2;
  border-radius: 4px;
  box-sizing: border-box;
  color: #4A90E2;
  display: block;
  font-family: 'Futura Bold';
  font-size: 1.125em;
  height: 50px;
  line-height: 46px;
  padding: 0;
  text-align: center;
  width: 100%;

  &:hover, &:focus {
    background: #4A90E2;
    color: #FFF;
    text-decoration: none;
  }
}
