/*
* Milo
* Copyright Milo 2016
* milosavings.com
*/


body.milo-signup {
  background: #F8FAFB;

  a.signup-logo {
    color: #352D52;
    display: inline-block;
    font-family: 'Brandon Black';
    font-size: 3em;
    letter-spacing: -1px;
    margin: 40px 0;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    @include breakpoint(l-one) {
      margin: 16px auto;
      text-align: center;
    }
  }
}

// Sign Up Form
.signup {
  background: #FFF;
  box-shadow: 0 1px 4px 0 rgba(0,0,0, 0.16);
  margin: 0 0 24px;
  padding: 40px;

  @include breakpoint(l-one) {
    margin: 0 0 20px;
    padding: 24px 12px;
  }

  form.new_checking {
    border-bottom: 1px solid #DDE1E2;
    padding: 16px;
    @extend %clear;

    span.checking-name {
      color: #292242;
      display: inline-block;
      font-family: 'Futura Bold';
      line-height: 1.2;
      vertical-align: middle;

      em {
        color: #8B999F;
        font-size: 0.75em;
        font-style: normal;
      }
    }
  }
}

form.email-signup {
  margin: 24px 0 0;

  .button {
    margin: 0 0 24px;
  }
}

h6.help-header {
  margin-top: 24px;
}

// Help Links
a.help-link {
  color: #292242;
  display: block;
  line-height: 24px;
  margin: 8px 0 24px 16px;

  &:focus, &:hover {
    text-decoration: underline;
  }

  i.fa {
    font-size: 1.25em;
    margin: 0 8px 0 0;
    vertical-align: middle;
  }
}

p.additional-help {
  font-size: 0.875em;
}

// Plaid Link Button
#plaid-link-button {
  background: inherit;
  border: 2px solid #4A90E2;
  border-radius: 4px;
  box-sizing: border-box;
  color: #4A90E2;
  display: block;
  font-family: 'Brandon Black';
  font-size: 1.125em;
  height: 48px;
  line-height: 44px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  &:hover, &:focus {
    background: #4A90E2;
    color: #FFF;
    text-decoration: none;
  }
}
