/*
* Milo
* Copyright Milo 2016
* milosavings.com
*/


// How It Works Page
header.head-market.-works {
  height: auto;
  min-height: 64vh;
  padding-bottom: 48px;
}

// Timeline
.timeline-title {
  margin: 0 0 64px;
  text-align: center;

  @include breakpoint(l-one) {
    margin: 0 0 32px;
    text-align: left;

    h2 {
      margin: 0;
    }
  }
}

.timeline-wrapper {
  margin: 0 0 80px;
  @extend %clear;

  @include breakpoint(l-one) {
    margin: 0 0 16px;
  }

  .tw-item {
    box-sizing: border-box;
    float: left;
    margin: 0 0 4px;
    padding: 0 16% 0 4%;
    position: relative;
    text-align: left;
    width: calc(50% + 12px);

    @include breakpoint(l-one) {
      float: right;
      padding: 0 0 0 16%;
      width: 100%;
    }

    p {
      font-size: 1em;
    }

    &.-right {
      float: right;
      padding: 0 4% 0 16%;

      .tw-point {
        left: 0;
        right: initial;
      }

      .tw-bar {
        left: 10px;
        right: initial;
      }

      .tw-dash {
        left: 28px;
        right: initial;
      }
    }

    .tw-point {
      border: 3px solid #352D52;
      border-radius: 24px;
      box-sizing: border-box;
      height: 24px;
      margin: 0 0 4px;
      position: absolute;
      right: 0;
      top: 0;
      width: 24px;

      @include breakpoint(l-one) {
        left: 0;
        right: initial;
      }
    }

    .tw-bar {
      background: #F1F3F6;
      bottom: 0;
      height: calc(100% - 28px);
      position: absolute;
      right: 10px;
      width: 4px;

      @include breakpoint(l-one) {
        left: 10px;
        right: initial;
      }
    }

    .tw-dash {
      border: 2px dashed #F1F3F6;
      position: absolute;
      right: 28px;
      top: 10px;
      width: 16%;

      @include breakpoint(l-one) {
        display: none;
        visibility: hidden;
      }
    }
  }
}

.timeline-actions {
  margin: 0 0 120px;
  text-align: center;

  @include breakpoint(l-one) {
    margin: 0 0 40px;
  }

  a.-blue {
    margin: 0 0 0 20px;

    @include breakpoint(l-one) {
      display: none;
      visibility: hidden;
    }
  }
}
