<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

<h1>New Debt</h1>

<%= render 'form' %>

<%= link_to 'Back', debts_path %>

</div>
</div>
</div>
</div>
