<nav class="setting-subheader">
  <a href="/settings" class="<%= active_page_class?('/settings')%>">Profile</a>
  <a href="/settings/accounts" class="<%= active_page_class?('/settings/accounts')%>">Accounts</a>
  <a href="/settings/security" class="<%= active_page_class?('/settings/security')%>">Security</a>
  <a href="/settings/business" class="<%= active_page_class?('/settings/business')%>">Business</a>
</nav>
