<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <div class="signup">
      <h1><span>Checking Account</span> Connect Your Bank</h1>
      <p>Select your bank account to begin saving.</p>
      <a href="#" class="button -green -full">Connect Account</a>
      <%= link_to 'test skip', next_wizard_path %>
    </div>
  </div>
  <div class="col-md-5">
    <ul class="signup-steps">
      <li><span></span> Basic Info</li>
      <li><span></span> Mobile Number</li>
      <li class="active"><span></span> Checking Account</li>
    </ul>
  </div>
</div>
