<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <div class="signup">
      <h1><span>Checking Account</span> Sweet Success!</h1>
      <p>Your bank account has been verified. The only thing left for us to do is to authorize the On-Demand Transfers.</p>
      <p>On-Demand Transfers allow Milo to automatically transfer your weekly round ups from your checking into your savings account.</p>
      <%= form_for @user, url: wizard_path, class: "email-signup", method: :put do |f| %>
        <fieldset class="form-group">
          <label>
            <%= f.check_box :on_demand %>
            Phone
          </label>
        </fieldset>
        <button type="submit" class="button -full -green">Start Saving</button>
      <% end %>
      <%= link_to 'test skip', next_wizard_path %>
    </div>
  </div>
  <div class="col-md-4">
    <ul class="signup-steps">
      <li><span></span> Basic Info</li>
      <li><span></span> Mobile Number</li>
      <li class="active"><span></span> Checking Account</li>
    </ul>
  </div>
</div>
