<% set_meta_tags :site => 'Verify Phone • Milo',
  :noindex => true
%>

<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <div class="signup">
      <h1 class="marg-16"><span>Mobile Number</span> What's Your Number?</h1>
      <p>For security please add your phone.</p>
      <%= render "layouts/messages" %>
      <%= form_for @user, url: wizard_path, class: "email-signup", method: :put do |f| %>
        <fieldset class="form-group">
          <label>Phone</label>
          <%= f.phone_field :mobile_number, class: "form-control", placeholder: "(xxx) xxx-xxxx", required: true %>
        </fieldset>
        <button type="submit" class="button -full -blue">Continue</button>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <ul class="signup-steps">
      <li><span></span> Basic Info</li>
      <li class="active"><span></span> Mobile Number</li>
      <li><span></span> Checking Account</li>
    </ul>
  </div>
</div>
