<% set_meta_tags :site => 'Confirm Phone • Milo',
  :noindex => true
%>

<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <div class="signup">
      <h1><span>Mobile Number</span> Confirm Number</h1>
      <p>Please submit the 6-digit code we just sent to:<br/><strong><%= @user.mobile_number %></strong></p>
      <%= form_for @user, url: wizard_path, class: "email-signup", method: :put do |f| %>
        <fieldset class="form-group">
          <label>Phone</label>
          <%= f.text_field('verification_code') %>
        </fieldset>
        <button type="submit" class="button -full -green">Confirm</button>
      <% end %>
    </div>
  </div>
  <div class="col-md-5">
    <ul class="signup-steps">
      <li><span></span> Basic Info</li>
      <li class="active"><span></span> Mobile Number</li>
      <li><span></span> Checking Account</li>
    </ul>
  </div>
</div>
