<% if @biz %>
  <div class="col-md-6">
    <div class="milo-card quick-save">
      <div class="mc-title">Employees</div>
      <div class="amount"><%= @total_employees %></div>
      <a href="/employees" class="button -blue -full">Manage</a>
    </div>
  </div>
<% end %>
