<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h3>Goals (<%= @user.goals.count %>)</h3>
        <% if @user.goals.any? %>
          <ol class="goals">
            <%= render @goals %>
          </ol>
        <% end %>

      </div>
    </div>
  </div>
</div>
