/*
* Shift
* Copyright Shift 2017
*shiftsavings.com
*/


// Fonts
@font-face {
  font-family: 'Brandon';
  src: url(asset_path('b-reg.woff2')) format('woff2'),
       url(asset_path('b-reg.woff')) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Italic';
  src: url(asset_path('b-reg-it.woff2')) format('woff2'),
       url(asset_path('b-reg-it.woff')) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Black';
  src: url(asset_path('b-black.woff2')) format('woff2'),
       url(asset_path('b-black.woff')) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Black Italic';
  src: url(asset_path('b-black-it.woff2')) format('woff2'),
       url(asset_path('b-black-it.woff')) format('woff');
  font-weight: normal;
  font-style: normal;
}
