<nav class="setting-subheader">
  <a href="/zero" class="<%= active_page_class?('/zero')%>">Overview</a>
  <a href="/zero/progress" class="<%= active_page_class?('/zero/progress')%>">Progress</a>
  <a href="/zero/payments" class="<%= active_page_class?('/zero/payments')%>">Payments</a>
  <a href="/debts" class="<%= active_page_class?('/debts')%>">Accounts</a>
</nav>
