<% if @checking.present? && @user.bank_not_verified %>
  <a href="/settings/accounts" class="shift-tooltip -verify-bank">
    Looks like you need to verify your account. If you have recieved the micro-deposits in your bank account please verify your account now.
    <div class="st-action">Verify Account<i class="fa fa-arrow-right"></i></div>
  </a>
<% end %>
