<% if @accounts.present? && @checking.nil? %>
  <div class="milo-card">
    <div class="mc-title">
      <a href="/checkings/new" class="title-link">Confirm</a>
      Checking Account
    </div>
    <p>Now that we have connected with your account/s we need to confirm the checking account that you would like to use with Shift.</p>
  </div>
<% end %>
