<% if !@biz && !@user.dwolla_funding_source.nil? %>
  <div class="col-md-6">
    <div class="milo-card quick-save">
      <div class="mc-title">Quick Save</div>
      <div class="amount">+$20.00</div>
      <%= link_to "Save", quick_save_path, class:"button -full -green", data: {confirm: "Are you sure you want to save $20?"} %>
    </div>
  </div>
<% end %>
