<% if @checking.present? && @user.bank_not_verified %>
  <div class="home-verify-message shift-tooltip -verify-bank">Looks like we still need you to verify your account. If you've already recieved the micro-deposits, click <a class="verify-link" href="/settings/accounts">here</a> to get connected!</div>
<% end %>
