<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h1>History</h1>

        <% @transfers.each do |tr| %>
          <p><%= tr.date.to_date.strftime("%B %d, %Y") %> | <%= tr.status == '200' ? "Processed" : "Pending"  %> | $<%= tr.roundup_amount %></p>
        <% end %>

      </div>
    </div>
  </div>
</div>
