<% set_meta_tags :site => 'Contact Confirmation • Milo',
  :canonical => 'http://milosavings.com/contacts',
  :author => 'Milo',
  :copyright => '&copy; 2016 Milo',
  :description => "-",
  :keywords => ['Milo', 'Milo Savings', 'contact', 'contact us', 'email', 'savings account', 'financials'],
  :reverse => true,
  :og => {
    :title          => 'Contact Confirmation • Milo',
    :type           => 'website',
    :url            => request.original_url,
    :image          => asset_url('social-banner-milo.png'),
    :description    => "-",
    :site_name      => 'Milo',
  },
  :twitter => {
    :card           => 'summary',
    :site           => '@milosavings',
    :title          => 'Contact Confirmation • Milo',
    :description    => "-",
    :creator        => '@milosavings',
    :image          => asset_url('social-banner-milo.png'),
  }
%>

<header class="head-market -legal">
  <div class="milo-pattern">
    <div class="container-fluid">
      <%= render :partial => 'layouts/market_navbar' %>
      <section class="hero -legal">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1>Get in Touch</h1>
            <p>Have questions or concerns? Please use the form below to contact our team and we can help answer them.</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</header>

<section class="contact">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>Thank you for your message!</h3>
        <p>We have received your inquiry and will get back to you shortly.</p>
      </div>
    </div>
  </div>
</section>
