<% set_meta_tags :site => "Oops, this page doesn't exist.",
  :noindex => true
%>

<div class="container">
  <div class="row">
    <div id="desktop" class="col-md-6">
      <%= image_tag("img-milo-error.png", alt: "Error", class: "error-img") %>
    </div>
    <div class="col-md-6">
      <div class="error-content">
        <h1>404</h1>
        <p>Oops, this page doesn't exist.</p>
        <a href="https://milosavings.com">Go back to the main page &rarr;</a>
      </div>
    </div>
  </div>
</div>
