/*
* Oink
* Copyright Oink 2016
* oinkbank.co
*/

.button {
  background: inherit;
  border: 2px solid #999;
  border-radius: 4px;
  box-sizing: border-box;
  color: #999;
  display: block;
  font-size: 1.125em;
  font-weight: 700;
  height: 50px;
  line-height: 46px;
  padding: 0 24px;
  text-align: center;

  &:hover, &:focus {
    text-decoration: none;
  }

  &.-full {
    padding: 0;
    width: 100%;
  }

  &.-large {
    font-size: 1.5em;
    line-height: 76px;
    height: 80px;
    padding: 0 40px;
    text-transform: initial;

    @include breakpoint(l-three) {
      font-size: 1.25em;
      height: 56px;
      line-height: 52px;
    }
  }

  &.-green {
    border: 2px solid #1ABD7D;
    color: #1ABD7D;
    &:hover {
      background: #1ABD7D;
      color: #FFF;
    }
  }
}

a.button {
  display: inline-block;
}
