/*
* Oink
* Copyright Oink 2016
* oinkbank.co
*/


body {
  color: #96A3A8;
  font-family: Futura;
  font-size: 16px;
  opacity: 1;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #6FB7E9;
}
