/*
* Milo
* Copyright Milo 2016
* milosavings.com
*/


body {
  color: #96A3A8;
  font-family: Futura;
  font-size: 16px;
  font-size: 1em;
  opacity: 1;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  color: #292242;
  line-height: 1.2;
  margin: 0 0 24px;
}

h1 {
  font-size: 4em; // 64px
}

h2 {
  font-size: 3.5em; // 56px
}

h3 {
  font-size: 1.8em;
}

a {
  color: #6FB7E9;
}
