/*
* Oink
* Copyright Oink 2016
* oinkbank.co
*/


.form-group {
  label {
    color: #96A3A8;
    font-size: 0.688em;
    font-weight: 700;
    margin: 0 0 4px;
    text-transform: uppercase;
  }
  input.form-control {
    border: 1px solid #E1E5E6;
    padding: 12px 16px;
  }
  small {
    color: #E1E5E6;
    font-size: 100%;
    line-height: 1.6;
  }
}
