/*
* Milo
* Copyright Milo 2016
* milosavings.com
*/


body.milo-market {
  background: #FFF;
  overflow: hidden;
  overflow-y: scroll;
}

.container-fluid {
  padding-right: 4rem;
  padding-left: 4rem;
}

// Header Navigation
.hm-navbar {
  background: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  box-sizing: border-box;
  height: 80px;
  padding: 20px 16px;
  width: 100%;
  @extend %clear;

  a.logo-market {
    color: #FFF;
    float: left;
    font-size: 2em;
    font-weight: 700;
    line-height: 40px;
    margin: 0 48px 0 0;
    text-decoration: none;
  }

  nav.hm-nav {
    float: left;
    @extend %clear;

    &.hm-nav-right {
      float: right;

      a {
        margin: 8px 0 8px 32px;
      }
    }

    a {
      color: #FFF;
      display: block;
      float: left;
      line-height: 24px;
      margin: 8px 32px 8px 0;
      text-decoration: none;

      &:hover, &:focus {
        color: #4A90E2;
      }
    }
  }
}

// Sections
section {

  p {
    font-size: 1.5em;
  }
}
