/*
* Oink
* Copyright Oink 2016
* oinkbank.co
*/


// Pending Round-Ups
.pending-roundups {
  margin: 0 0 24px;
  .pr-title {
    color: #63677C;
    margin: 0 0 8px;
    padding: 0 16px;
  }
  ul.pr-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      border-bottom: 2px solid #EDF1F2;
      box-sizing: border-box;
      color: #333A4E;
      font-size: 1.25em;
      height: 64px;
      line-height: 1;
      padding: 16px;
      width: 100%;
      span {
        color: #96A3A8;
        display: block;
        font-size: 0.56em;
        margin: 2px 0 0;
      }
    }
  }
}
