<body class="milo-app">

  <header>
    <a class="logo" href="/">Milo</a>
    <div class="milo-user">
      <div class="mu-img">
        <!-- TODO :: provide a fallback user image -->
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/ok/128.jpg">
      </div>
      <h5>Dwayne Johnson</h5>
      <span>Chicago, IL</span>
    </div>
    <nav>
      <!-- <a class="active" href="/"><i class="fa fa-home"></i> Overview</a>
      <a href="#"><i class="fa fa-circle-o"></i> Round-Ups <span>8</span></a>
      <a href="#"><i class="fa fa-exchange"></i> Transfer</a>
      <a href="#"><i class="fa fa-clock-o"></i> History</a> -->
      <a href="/settings"><i class="fa fa-gear"></i> Settings</a>
    </nav>
    <%= link_to('Sign Out', destroy_user_session_path, :method => :delete, class: "sign-out") %>
  </header>

  <%= yield %>

</body>
