<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <nav>
          <ul>
            <li class="menu-item-has-children"><a href="#">Company</a>
              <ul class="sub-menu">
              	<li><a href="/">Home</a></li>
              	<!-- <li><a href="#">Features</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li> -->
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="#">About</a>
              <ul class="sub-menu">
              	<!-- <li><a href="/about">About Us</a></li>
              	<li><a href="#">Press</a></li>
                <li><a href="#">Questions</a></li>
                <li><a href="#">Support</a></li> -->
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="#">Legal</a>
              <ul class="sub-menu">
              	<li><a href="/terms">Terms of Service</a></li>
              	<li><a href="/privacy">Privacy Policy</a></li>
                <!-- <li><a href="#">ACH Authorizations</a></li>
                <li><a href="#">Fees</a></li> -->
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-4">
        <div class="footer-app">
          <span>Get the App</span>
          <p><strong>* Apps currently in beta.</strong><br>Download our app on your phone and make saving easier.</p>
          <%= image_tag("badge-app-store.svg", class: "badge-app-store", alt: "Milo iPhone App") %>
          <%= image_tag("badge-google-play.svg", class: "badge-google-play", alt: "Milo Android App") %>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="bottom-bar">
  <div class="container-fluid">
    <div class="copyright">&copy; 2016 Milo Savings, Inc.</div>
    <nav class="social-footer-nav">
      <a href="https://www.facebook.com/milosavings" class="sfn-facebook" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/milosavings" class="sfn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://www.instagram.com/milosavings/" class="sfn-instagram" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="https://angel.co/milosavings" class="sfn-angellist" target="_blank"><i class="fa fa-angellist"></i></a>
    </nav>
  </div>
</div>
