<div class="hm-navbar">
  <a href="/" class="logo-market">Milo</a>
  <nav id="desktop" class="hm-nav hm-nav-left">
    <a href="/how-it-works" class="<%= active_page_class?('/how-it-works')%>">How It Works</a>
    <a href="/about" class="<%= active_page_class?('/about')%>">About</a>
  </nav>
  <nav class="hm-nav hm-nav-right">
    <a href="/users/sign_up">Join</a>
    <a href="/users/sign_in">Log In</a>
  </nav>
</div>
