<div class="hm-navbar">
  <a href="/" class="logo-market">Milo</a>
  <nav id="desktop" class="hm-nav hm-nav-left">
    <a href="/how-it-works" class="<%= active_page_class?('/how-it-works')%>">How It Works</a>
    <a href="/security" class="<%= active_page_class?('/security')%>">Security</a>
  </nav>
  <nav class="hm-nav hm-nav-right">
    <%= link_to "Join", new_user_registration_path %>
    <a href="/users/sign_in">Log In</a>
  </nav>
</div>
