<body class="milo-signup">

  <div class="container">
    <div class="row">
      <% if current_page?(new_user_session_path) %>
        <a href="/users/sign_up">Sign Up</a>
      <% end %>
      <a href="/" class="signup-logo">Milo</a>
    </div>

    <%= yield %>

  </div>

  <%= render :partial => 'layouts/analytics' %>

</body>
