<div class="modal fade" id="verifyAccountModal" tabindex="-1" role="dialog" aria-labelledby="verifyAccountModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-close" aria-hidden="true"></i>
        </button>
        <h5 class="modal-title">Verify Bank Accounts</h5>
      </div>
      <form action="/accounts/verify_micro_deposits" method="get">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <p>Enter the two amounts deposited into your account from Shift below.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <fieldset class="form-group">
                <label>Deposit 1</label>
                <div class="input-group">
                  <span class="input-group-addon">$0.</span>
                  <input type="text" class="form-control" name="deposit1">
                </div>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <fieldset class="form-group">
                <label>Deposit 2</label>
                <div class="input-group">
                  <span class="input-group-addon">$0.</span>
                  <input type="text" class="form-control" name="deposit2">
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="button -small">Close</button>
          <button class="button -blue -small">Verify</button>
        </div>
      </form>
    </div>
  </div>
</div>
