<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="milo-card">
          <div class="mc-title">Connect Account</div>
          <p>Search for your bank and connect to begin calculating and saving roundups.</p>
          <%= plaid_link(name:@user.email, action:'add_account', data: {longtail: true})%>
        </div>
      </div>
    </div>
  </div>
</div>
