<% set_meta_tags :site => 'Connect Bank • Shift',
  :noindex => true
%>

<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <div class="signup">
      <h5>Bank Account</h5>
      <p>To begin saving securely connect a primary checking account. This allows Shift to transfer round ups from your bank account to your Shift savings account.</p>
      <p><label>Checking Accounts Only</label><i class="fa fa-question helper" data-toggle="tooltip" data-placement="top" data-html="true" title="<h6>Checking Account</h6><p>Shift currently only supports the monitoring of checking accounts. We are working on the ability to connect credit cards and should be available shortly."></i></p>
      <div class="spacer -space-16"></div>
      <form id="plaid-link-form" method="POST" action="/users/<%= @user.id %>/add_account" ></form>
    </div>
  </div>
  <div class="col-md-4">
    <h6 class="help-header">Safe and Safe</h6>
    <p>We partner with <a href="https://plaid.com/security/" target="_blank">Plaid</a> to provide an industry leading, safe and secure way to connect your bank account with Shift.</p>
    <p>All funds transferred into your Shift savings account are FDIC Insured. Use our <a href="http://support.shiftsavings.com/" target="_blank">support center</a> if you have any questions regarding your sign up.</p>
    <a href="http://support.shiftsavings.com/signing-up/connect-bank" target="_blank" class="help-link"><i class="fa fa-question"></i> Support: Connect Bank</a>
    <p class="additional-help">Need additional help? Chat with us below or <a href="https://www.shiftsavings.com/contact" target="_blank">send us an email</a> with your question.</p>
  </div>
</div>

<!-- Script to add Plaid Link Credentials -->
<script
  src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"
  data-client-name="Shift"
  data-form-id="plaid-link-form"
  data-key="eebe6c05e95b82bc4bdb807baebc1f"
  data-product="connect"
  <% if Rails.env.production? %> data-env="production"<% else %>data-env="tartan"<% end %>
  data-longtail="true">
</script>
